spring:
  application:
    name: ewm-service
  datasource:
    url: jdbc:h2:mem:ewmdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: always

server:
  port: 9090

stats-service:
  url: http://localhost:9091

logging:
  level:
    ru.practicum: DEBUG
